/.classpath
/.project
/.settings

/logs
/target

/movie-app/target/
/movie-domain/target/
/movie-service/target/

/movie-app/.classpath
/movie-domain/.classpath
/movie-service/.classpath

/movie-app/.project
/movie-domain/.project
/movie-service/.project

/movie-app/.settings/
/movie-domain/.settings/
/movie-service/.settings/
